@page "/"
@inject IJSRuntime _jsRuntime

<h1>Hello, world!</h1>

Welcome to your new app.

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await this._jsRuntime.InvokeVoidAsync("sharedController.hideLoadingIndicator");
    }

}